@page
@model SMP.Pages.Meetings.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Meeting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="meeting.bishopric" class="control-label"></label>
                <select asp-for="wardmember.firstname" class="form-control"
                        asp-items="@model.wardmembernamesl">
                    <option value="">-- select bishopric member --</option>
                </select>
                <span asp-validation-for="wardmember.firstname" class="text-danger" />
            </div>*@
            <div class="form-group">
                <label asp-for="Meeting.Bishopric" class="control-label"></label>
                <input asp-for="Meeting.Bishopric" class="form-control" />
                <span asp-validation-for="Meeting.Bishopric" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.OpeningPrayer" class="control-label"></label>
                <input asp-for="Meeting.OpeningPrayer" class="form-control" />
                <span asp-validation-for="Meeting.OpeningPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.DateUpdated" class="control-label"></label>
                <input asp-for="Meeting.DateUpdated" class="form-control" />
                <span asp-validation-for="Meeting.DateUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.MeetingDate" class="control-label"></label>
                <input asp-for="Meeting.MeetingDate" class="form-control" />
                <span asp-validation-for="Meeting.MeetingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.OpeningSong" class="control-label"></label>
                <input asp-for="Meeting.OpeningSong" class="form-control" />
                <span asp-validation-for="Meeting.OpeningSong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.SacramentSong" class="control-label"></label>
                <input asp-for="Meeting.SacramentSong" class="form-control" />
                <span asp-validation-for="Meeting.SacramentSong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.Speaker1" class="control-label"></label>
                <input asp-for="Meeting.Speaker1" class="form-control" />
                <span asp-validation-for="Meeting.Speaker1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.Subject1" class="control-label"></label>
                <input asp-for="Meeting.Subject1" class="form-control" />
                <span asp-validation-for="Meeting.Subject1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.Speaker2" class="control-label"></label>
                <input asp-for="Meeting.Speaker2" class="form-control" />
                <span asp-validation-for="Meeting.Speaker2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.Subject2" class="control-label"></label>
                <input asp-for="Meeting.Subject2" class="form-control" />
                <span asp-validation-for="Meeting.Subject2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.IntermediateSong" class="control-label"></label>
                <input asp-for="Meeting.IntermediateSong" class="form-control" />
                <span asp-validation-for="Meeting.IntermediateSong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.Speaker3" class="control-label"></label>
                <input asp-for="Meeting.Speaker3" class="form-control" />
                <span asp-validation-for="Meeting.Speaker3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.Subject3" class="control-label"></label>
                <input asp-for="Meeting.Subject3" class="form-control" />
                <span asp-validation-for="Meeting.Subject3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.ClosingSong" class="control-label"></label>
                <input asp-for="Meeting.ClosingSong" class="form-control" />
                <span asp-validation-for="Meeting.ClosingSong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.ClosingPrayer" class="control-label"></label>
                <input asp-for="Meeting.ClosingPrayer" class="form-control" />
                <span asp-validation-for="Meeting.ClosingPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
